/*******font style*******/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksandfont {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/***** Navigation Menu Style *****/

.hamburger{
    display: none;
}


.logotitle{
        gap: 10px;
        display: flex;
    }


    .nav-btn{
    background-color: orange;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    border: none;
  }

  .nav-btn > a{
    text-decoration: none;
    color: white;
    font-weight: 600;
  }  

  .navul{
    display: flex;
    padding-right: 50px;
    list-style: none;
    gap: 10px;
  }

  .navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 60px;
  }


  #orange{
    color: orange;
  }

  #skyblue{
    color: #01ACFD
  }

  #FacilColor{
    color: #05D4DF;
  }

  #AdmiColor{
    color: #5D58EF;
  }
/*********************/

/******* Banner Style *******/

.bannersection{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 68px;
    margin-right: 65px;
  }

  .bannerh{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .bannerp{
    font-weight: 400;
    font-size: 15px;
  }

  .bannerbtn{
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 8px;
    border: none;
  }

  .bannerbtn > a {
    text-decoration: none;
    color: azure;
    font-weight: 550;
  }

  .bannerimg{
    width: 350px;
    height: 450px;
  }

  /*********************/

  /******Standared Box Card Style*******/

  .standardsection{
    background-image: url(../assets/bg.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
  }

  .standh{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    }
    
    .boxcontainer{
      display: flex;
      justify-content: center;
      gap: 30px;
      padding: 20px 140px;
    }

    .firstbox{
      border: 2px solid #e8f7ff;
      border-radius: 20px;
      text-align: center;
      padding: 20px 30px 20px 30px;
      
      }
      
      .secondbox{
        border: 2px solid #fff6e4;
        border-radius: 20px;
        text-align: center;
        padding: 20px 30px 20px 30px;

      }
      
      .thirdbox{
        border: 2px solid #f5e9ff;
        border-radius: 20px;
        text-align: center;  
        padding: 20px 30px 20px 30px;

      }

      #readmoremiddle{
        color: #8700FF;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
      }
      
      #readmoreschool{
        color: #F0AA00;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
      }
      
      #readmorekinder{
        color: skyblue;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
      }
      
      .imgborder {
        /* border: 2px dashed tomato; */
        width: 140px;
        height: 125px;
      }

      .firstbox:nth-child(1) {
        background: linear-gradient(to bottom, #e8f7ff, #ffffff);
    }

      .secondbox:nth-child(2) {
        background: linear-gradient(to bottom, #fff6e4, #ffffff);
    }

      .thirdbox:nth-child(3) {
        background: linear-gradient(to bottom, #f5e9ff, #ffffff);
    }


    .standardsectioniconbttn{
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 30px;
      
    }

    .icon-button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #FFA500;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
    }

    .icon-button:hover {
      transform: scale(1.1);
    }
    .icon {
      color: white;
      font-size: 20px;
      font-family: Arial, sans-serif;
      font-weight: bold;
      line-height: 1;
    }














































@media screen and (max-width: 576px){
        /**** nav menu ****/

        .hamburger {
            display: block;
            padding: 0px;
            margin: 0px;
        }
        .hideonmbile{
            display: none;
        }
        .navmenu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid orange;
            padding: 0px 0px 5px 0px;
        }
        
        .navul{
            padding-right: 0px;
            padding-top: 5px;

        }
        /*****************/

        /******* Banner Style *******/

        .bannersection{
            display: flex;
            flex-direction: column-reverse;
            padding: 0px;
            margin: 0px;
            text-align: center;
        }
        /*****************/

          /******Standared Box Card Style*******/

        .standh{
          padding: 35px 0px 25px 0px;
          margin: 0px;
        }

        .boxcontainer{
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 10px;
          padding: 0px;
          margin: 0px;
        }




    }       