/*******font style*******/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksandfont {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/***** Navigation Menu Style *****/

.hamburger{
    display: none;
}


.logotitle{
        gap: 10px;
        display: flex;
    }


    .nav-btn{
    background-color: orange;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    border: none;
  }

  .nav-btn > a{
    text-decoration: none;
    color: white;
    font-weight: 600;
  }  

  .navul{
    display: flex;
    padding-right: 50px;
    list-style: none;
    gap: 10px;
  }

  .navmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 60px;
  }


  #orange{
    color: orange;
  }

  #skyblue{
    color: #01ACFD
  }

  #FacilColor{
    color: #05D4DF;
  }

  #AdmiColor{
    color: #5D58EF;
  }
/*********************/

/******* Banner Style *******/

.bannersection{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 68px;
    margin-right: 65px;
  }

  .bannerh{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .bannerp{
    font-weight: 400;
    font-size: 15px;
  }

  .bannerbtn{
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 8px;
    border: none;
  }

  .bannerbtn > a {
    text-decoration: none;
    color: azure;
    font-weight: 550;
  }

  .bannerimg{
    width: 350px;
    height: 450px;
  }


@media screen and (max-width: 576px){
        /**** nav menu ****/

        .hamburger {
            display: block;
            padding: 0px;
            margin: 0px;
        }
        .hideonmbile{
            display: none;
        }
        .navmenu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 2px solid orange;
            padding: 0px 0px 5px 0px;
        }
        
        .navul{
            padding-right: 0px;
            padding-top: 5px;

        }
        /*****************/

        /******* Banner Style *******/

        .bannersection{
            display: flex;
            flex-direction: column-reverse;
            padding: 0px;
            margin: 0px;
            text-align: center;
        }
       
    }       